
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}


body {
	font-size: 16px;
	line-height:1.25em;
	font-family: Inter;
	font-weight:500;
	
}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

strong {
	font-weight: 700;
}

h2 {
	margin-top: 2em;	
}

h2 {
	font-weight: 600;
}

p {
	margin: 1.5em 0;
}
